

body {
  font-family: 'Roboto',sans-serif;
  background-color: #fffffb;
}

html {
  line-height: 1.5em;
}

h1 {
  font-size: 150%;
  font-weight: 500;
}

a {
  color: #424242;
}

p {
  color: #616161;
}

section {
    margin: 1em;
    flex: 1 0 90%
}

.media-items > section {
    box-shadow: 0 0 30px 6px #EEEEEE;
    border-radius: 5px;
}


/*

@font-face {
	font-family: Ampersand;
	src: local('Baskerville-Italic'), local('GoudyOldStyleT-Italic'), local('Garamond-Italic'), local('Palatino-Italic');
	unicode-range: U+26;
}

h1 {
	font-family: Ampersand, Helvetica, sans-serif;
}

a:hover,button,figcaption,h1,h2,h3,h4,h5,label,legend,li,p {
    color: #616161
}


p {
    font-weight: 300
}


figure {
    margin: 0
}

figure {
  max-width: 300px;
  width: min-content;
  margin: auto;
}
figure > img {
  max-width: inherit; }


figcaption {
    text-align: center;
    font-style: italic;
    line-height: 1.8em
}


input {
    font-size: inherit;
}

[data-status] {
    color: #26a69a
}

button[type=submit] {
    color: #fff;
    background-color: #4caf50
}*/
