

body {
  font-family: 'Roboto',sans-serif;
  background: white;
  background-image:
    linear-gradient(90deg, rgba(179, 229, 252, 0.15) 11px, transparent 0),
    linear-gradient(90deg, rgba(200, 230, 201, 0.15) 23px, transparent 0),
    linear-gradient(90deg, rgba(255, 224, 178, 0.15) 41px, transparent 0);
  background-size: 41px 100%, 61px 100%, 83px 100%;
}

html {
  line-height: 1.5em;
}

h1 {
  font-size: 150%;
  font-weight: 500;
  line-height: 1.2;
}

p, a, legend, figcaption {
  color: #616161;
}

section {
    margin: 1em;
}

.media-items > section, .artikel > section {
    box-shadow: 0 0 30px 8px #e0e0e0;
    border-radius: 5px;
}

@font-face {
	font-family: Ampersand;
	src: local('Baskerville-Italic'), local('GoudyOldStyleT-Italic'), local('Garamond-Italic'), local('Palatino-Italic');
	unicode-range: U+26;
}

h1 {
	font-family: Ampersand, Roboto, sans-serif;
}

input {
    font-size: inherit;
}

[data-status] {
    color: #26a69a
}

button[type=submit] {
    color: #fff;
    background-color: #4caf50
}
